* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-size: 1.6rem;
  color: #313e50;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

header {
  padding-bottom: 8rem;
  height: 15vh;
}

h1 {
  color: #076373;
}

h3 {
  color: #0C9784;
}

.wrapper {
  height: 70vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creditCard {
  height: 30.6rem;
  max-width: 50rem;
  background-image: url("./assets/card_background.png");
}

.creditCardText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  height: 9rem;
  width: 50rem;
  padding-left: 4rem;
  padding-right: 2.5rem;
}

.bankName {
  width: 19rem;
  /* background-color: pink; */
  color: #ffffff;
  font-size: 3.2rem;
  font-weight: 700;
}

.bankLogo {
  max-width: 9rem;
 }

.bankLogo img {
  max-width: 9rem;
  height: auto;
  }

.userData {
  display: flex;
  flex-direction: column;
  height: 10rem;
  width: 50rem;
  padding-top: 9rem;
  padding-left: 4rem;
  padding-right: 2.5rem;
  color: #ffffff;
  font-weight: 500;
}

.cardNumber {
  display: flex;
  font-size: 2.4rem;
  font-weight: 500;
  width: 40rem;
  height: 4rem;
  align-self: start;

}

.nameDate {
  display: flex;
  flex-direction: row;
  padding-top: 3rem;
  justify-content: space-between;
  font-size: 2rem;
}

form {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  width: 50rem;
  justify-content: center;
  padding-bottom: 2rem;
  font-size: 2rem;
}

input[type="text"] {
  margin-left: 0.4rem;
  margin-right: 0.3rem;
  padding-left: 1rem;
  width: 14rem;
}

::placeholder {
  color: #a6b5c9;
  opacity: 1;
}

.maskify {
  color: #313e50;
}

.isValid {
  
}
#isValidLabel {
  font-size: 2.5rem;
  padding-top: 2rem;
  font-weight: 700;
}

.valid {
  color: #0C9784;
}

.invalid {
  color: #ce3d3de9;
}

.check-icon{
  width: 2rem;

}

.check-display {
  display: none;
}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}



input[type="submit"] {
  margin-left: 0.4rem;
  padding: 5px 15px;
  background: #9893da;
  border: 1 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.6rem;
  color: #ffffff;
}
